//_COLOUR_____//
$azure          :#008bc4;
$cobalt         :#0275d8;
$buttercream    :#fbfcc5;
$cardinal       :#a94442;
$scooter        :#41c4d3;
$mirage         :#1c1d36;
$violetred      :#ed2d7e;

//_COLOR-TONE_//
$ice            :#f8fcff; /* bluey */
$porcelain      :#f9f9f9; /*yellowy*/

$slate-light    :#636c72; /* bluey */
$slate-mid      :#484a5f; /* bluey */
$slate-dark     :#1a1c34; /* bluey */

//_TONE_______//
/*
    NB: use CSS
    white and black when referencing
    #fff  and #000  respectively]
*/
$white          :#fefefe; /* main */
$ghost          :#f7f7f7; /* main */

$charcoal-light :#787878;
$charcoal-mid   :#4c4c4c;
$charcoal-dark  :#212121;

$silver-light   :#eeeeee;
$silver-mid-f   :#dddddd;
$silver-mid     :#cccccc;
$silver-mid-0   :#bbbbbb;
$silver-dark    :#aaaaaa;

// TODO: Reduce the number of grey tones.
$mischka        :#dfdfe7;
$shipgray       :#3f3f45;
$brightgray     :#35374f;
$athensgray     :#f9f9fa;
$spunpearl      :#a7a7b5;
$jumbo          :#757581;
$whitelilac     :#f7f7fc;
